<!DOCTYPE html>
<html>
<head>
    <title>Express + LiyPay</title>
</head>
<body>
    <form action="/" method="post">
        <input type="email" name="email" placeholder="Email">
        <input type="tel" name="phone" placeholder="Phone">
        <button type="submit">Send</button>
    </form>
    <div><%- body %></div>
</body>
</html>